.blogs{
    background-image: url(./wallpaper.jpg);
    background-size: cover;
    min-height: 96vh;
}
.blogs .container .col-3{
    height: 200px;
    align-content: center;
    text-align: center;
    width: 24%;
    margin: 5px;
}
.blogs .container .col-3 h2{
    padding: 10px;
    margin-top: 50px;
    color: white;
}